.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 5rem;
}

@keyframes move-left {
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.featureCard {
  background-color: rgba(var(--features-card-bg));
  padding: 1.5rem;
  border-radius: 0.75rem;
  transition: background-color 0.2s;
  animation: move-left 0.5s ease-in forwards;
  margin-top: 50px;
  opacity: 0;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.featureCard:hover {
  background-color: rgba(var(--features-card-hov));
}

.emoji {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.featureTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.featureDescription {
  color: #9ca3af;
  font-style: italic;
  margin-top: 15px;
}

@media screen and (max-width: 760px) {
  @keyframes move-left {
    100% {
      margin-left: 0;
      opacity: 1;
    }
  }

  .featureCard {
    animation: move-left 0.7s ease-in forwards;
    margin-left: -150px;
    opacity: 0;
  }
}
